
.container {
  @apply
  relative
  flex
  flex-col
  justify-evenly
  duration-300
}

.cardHeaderContainer {
  @apply
    flex
    flex-col
    m-2 my-4
}

.cardImageContainer {
  @apply
  w-40 h-40
  relative
  shadow-lg
  cursor-pointer 
  mb-4 
  select-none 
  duration-300
  rounded-full
  border-4 border-white
  overflow-hidden
}

.cardImage {
  height: 200px;
  left:-25px;
  bottom:-25px;
  width: 200px;
  @apply
    transition-opacity
    absolute
    border
}
.cardImage img {
  @apply
    object-cover
    h-full w-full
}

.cardImage:empty {
  content: "";
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right,  transparent 0%, rgba(0,0,0,.2) 50%, transparent 100%);
  background-repeat: no-repeat;
  animation: load 1.5s ease-out infinite;
} 

@keyframes load {
  from {
    background-position: -250px 0;
  }
  to {
    background-position: 250px 0;
  }
}

.imageInput {
  @apply 
    p-1 
    m-2 
    w-24 
    text-sm 
    rounded 
    transition-all 
    border-2
    focus:border-cloud-4
}

.imageInput:focus {
  outline: none;
}

.cardLoading {
  @apply
    w-32 h-32 
    mx-auto mb-4 
    rounded-full 
    shadow-lg 
    cursor-wait 
    select-none 
    border-4 border-cloud-4 
}

.cardSettings {
  @apply 
    flex flex-col justify-around 
    p-2 
    mx-auto 
    relative
    mb-4 
    overflow-hidden 
    bg-white 
    rounded 
    shadow-lg 
    select-none
    w-40 h-40
}

.audioFileLabel {
  padding: 2px;
  @apply
  flex 
  w-28 
  text-sm
  flex-row 
  items-center 
  mx-2 mt-1 
  cursor-pointer 
  justify-evenly 
  text-white 
  bg-cloud-4 
  transition-all
  duration-200
  hover:bg-cloud-3
}

.input[type="file"] {
  display: none;
}

.cardSettingsHeader {
  @apply
    flex flex-col 
    mx-auto 
    text-xs 
    text-center 
    relative 
    overflow-hidden
}

.barContainer {
  @apply
    flex
    flex-row
    justify-between mb-2
    p-1
    py-2
}

.faContainer {
  flex:1;
  @apply 
    flex flex-col justify-between select-none
}

.faLoop {
  @apply 
    text-2xl
    self-start
    hover:text-cloud-2 
    transition-colors 
    duration-300 
    cursor-pointer
    pb-1
}

.faSettings {
  @apply 
    text-2xl
    hover:text-cloud-2 
    transition-colors 
    duration-300 
    cursor-pointer
    pb-1
}

.active {
  opacity: 90%;
  animation: borderBreathe 2s ease-in infinite;
}

.inactive {
  opacity: 50%;
}

.playPause {
  top:52px;
  left:52px;
  @apply
    absolute
}

@keyframes borderBreathe {
  0% {
    border-color: rgba(0, 0, 0, .8);
  }
  50% {
    border-color: rgba(0, 0, 0, .2);
  }
  100% {
    border-color: rgba(0, 0, 0, .8);
  }
}