.form {
  background-color: rgba(0, 68, 170, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.15);
  @apply md:w-4/5 w-full py-32 flex flex-col text-white m-auto justify-center items-center text-left
}

.formHeader {
  @apply text-4xl
}

.formGroup {
  @apply w-3/4 mx-auto  flex flex-col items-center  py-3
}

.formGroup * {
  @apply w-full 
}

.formGroup label, .formGroup input {
  @apply w-1/2 outline-none ring-red-400 focus:ring-4 transition-all px-2
}

.formGroup input {
  @apply text-blue-500
}

.formGroup textarea {
  min-height: 30px;
  @apply outline-none text-blue-500 ring-red-400 duration-200 focus:ring-4 transition-all px-2
}

.send {
  @apply border border-white mt-2 px-4 py-2 ring-red-400 focus:border-transparent focus:ring-4 hover:bg-white hover:text-blue-500 transition-all
}