.page {
  @apply bg-cover w-full min-h-screen
}

.header {
  min-height: 15vh;
  @apply w-3/5 mx-auto flex flex-col md: flex-row md:justify-around p-4 md:items-end select-none
}

.brand {
  @apply flex flex-row justify-center items-end text-center text-5xl transition-all text-cloud-4 hover: text-cloud-2
}

.nav {

  @apply flex flex-row md: justify-start md:pl-8 items-center md:items-end select-none
}

.navLink {
  @apply text-2xl text-cloud-4 hover: text-cloud-2 px-4 py-2 text-center cursor-pointer transition-all ease-linear
}

.navCred {
  @apply hover: no-underline text-center md:absolute top-0 right-0 p-2 text-cloud-4
}

.auth {
  @apply bg-white shadow-sm hover: shadow-md transition-shadow p-2 duration-150 rounded-md
}

.main {
  min-height: 85vh;
  @apply relative flex flex-col w-full md: w-3/4 p-4 mx-auto
}

.footer {
  @apply flex flex-col justify-center items-center text-cloud-4 p-4
}

.copyRight {
  @apply text-xs
}

.hop {
  animation: hop 1.5s ease-in-out infinite;
}

@keyframes hop {
  0% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}